<div class="row">
  <div class="col-12">
    <h3>Misión</h3>
    <p>Conectamos al mundo con Latinoamérica, buscando dar siempre más.</p>


    <h3>Visión 2020</h3>
    <p>Con la mejor gente y tecnología para una experiencia excepcional, seremos la aerolínea latinoamericana preferida
      en
      el mundo.</p>


    <h3>Valores</h3>
    <p>Vivimos la seguridad.
      • Servimos con pasión e integridad.
      • Somos uno y disfrutamos lo que hacemos.
      • Innovamos
      con impacto sostenible.</p>
  </div>
</div>
