/* You can add global styles to this file, and also import other style files */
.btn{
    &-primary{
        background: #E63A56!important;
        border: 1px solid #E63A56!important;
        color: #FFFFFF!important;
    }
}
input.ng-invalid.ng-dirty{
    border-left: 4px solid #E63A56!important;
}
input.ng-valid{
    border-left: 4px solid #11182B!important;
}
