<div class="row mb-5">
  <div class="col-12 col-lg-8 align-items-end">
    <h1 class="h2">{{editMode? 'Editar': 'Crear'}}</h1>
  </div>

</div>
<form [formGroup]="form" (ngSubmit)="submitForm()">
  <div class="mb-3">
    <label  class="form-label">Nombre</label>
    <input formControlName="name" type="text" class="form-control" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label  class="form-label">Avión</label>
    <textarea formControlName="plane" type="text" class="form-control" aria-describedby="emailHelp"></textarea>
  </div>
  <div class="mb-3">
    <label class="form-label">Ruta</label>
    <textarea formControlName="route" type="text" class="form-control" aria-describedby="emailHelp"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
