<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">Las Lapas</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="isUserAdmin()" routerLinkActive #rla="routerLinkActive" routerLink="/schedule"  [ngClass]="rla.isActive ? 'active' : ''">Horarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="isUserAdmin()"routerLinkActive #rlr="routerLinkActive" routerLink="/route"  [ngClass]="rlr.isActive ? 'active' : ''">Rutas</a>
        </li>
        <li class="nav-item">

          <a class="nav-link" *ngIf="isUserAdmin()" routerLinkActive #rlt="routerLinkActive" routerLink="/plane"  [ngClass]="rlt.isActive ? 'active' : ''">Vuelos</a>
        </li>
         <li>
          <a class="nav-link" *ngIf="isUserAdmin()" routerLinkActive #rlf="routerLinkActive" routerLink="/fleet" [ngClass]="rlf.isActive ? 'active' : ''">Flotas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  *ngIf="isUserAdmin()" href="/vuelos">Vuelos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  *ngIf="isUserAdmin()" href="/user">Usuarios</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" *ngIf="isUserAuthenticated()" href="/mis-vuelos">Mis Vuelos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/acerca">Acerca De</a>
        </li>

      </ul>
      <ul class="navbar-nav  mb-2 mb-lg-0 ml-auto d-flex align-items-end">

        <li class="nav-item">
          <a class="nav-link" href="/registro" *ngIf="!isUserAuthenticated()">Registrar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-primary" href="/login" *ngIf="!isUserAuthenticated()">Iniciar Sesion</a>
        </li>
        <li class="nav-item me-4 d-flex justify-content-center align-items-center " *ngIf="isUserAuthenticated()">
          <p class="text-white m-0 p-2">Bienvenido <span>{{username}}</span></p>
        </li>
        <li class="nav-item" *ngIf="isUserAuthenticated()">
          <a class="nav-link btn btn-outline-primary" href="" (click)="logout()" >Cerrar Sesion</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
